* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header{
    margin: 30px;
    width: 100%;
    background: white;
    color: black;
    display: flex;
    justify-content: space-around;

    & .titulo {
        width: 100%;
        padding: 15px;
    }
    
    & .link {
        width: 100%;
        padding: 15px;
    }
    
    & .link nav a {
        color: blue;
        font-size: 16px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        margin: 5px;
    }

    & .link nav a:hover {
        color: red;
        font-size: 18px;
    }
}

body{

    & .marromclaro1{
        width: 100%;
        height: 100px;
        background-color: rgb(135, 54, 54);
    }

    & .doisblocos{
        width: 100%;
        display: flex;
    }

    & .blocoescuro{
        width: 500px;
        height: 400px;
        background-color: rgb(187, 112, 112);
    }

    & .blococlaro{
        width: 1020px;
        height: 400px;
        background-color: rgb(101, 25, 25);
    }

    & .marromclaro2{
        width: 100%;
        height: 100px;
        background-color: rgb(135, 54, 54);
    }
}